@charset "UTF-8";
/* CSS Document */


body {

  margin: 0;
  padding: 0;
  background-image: url(../images/02.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}



ul{
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

ul li {
    width: 100%;
    list-style: none;
}

textarea{
  opacity: 0.45;
}

#container{
  width: 100%;
  overflow : hidden ;
  margin-top: 95%;
}

#textarea{
  width: 100%;
  font-size: 17px;
  color: rgba(0,0,0,1.0);
  border-radius: 4px;
}




#yourname{
  width: 40%;
  height: 20px;
  font-size: 17px;
  border-radius: 4px;

}


input[type='submit']{
    -webkit-appearance:none;
  }



#button {
    font-family: 'Noto-Sans', Arial, sans-serif;
    border: none;
    border-radius: 9px;
    padding: 0;
    display: block;
    margin: 0 auto;
    color: rgba(0,92,151,0.75);
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff; !important
  }


@media screen and (min-width:768px) and ( max-width:1024px) {
  #container{
    margin-top: 95%;
  }

  li:nth-child(2){
    padding-top: 30px;
  }

  li:nth-child(3){
    padding-top: 30px;
  }

  #textarea{
    width: 100%;
    font-size: 30px;
    border-radius: 4px;
  }

  #yourname{
    height: 28px;
    font-size: 24px;
  }

  #button {
    width: 220px;
    height: 60px;
    font-size: 20px;
  }
}



@media screen and (min-width:320px) and ( max-width:768px) {
#container{
  margin-top: 95%;
}

}

@media screen and (max-width: 320px) {
#container{
  margin-top: 85%;
}

}
